Import required libraries and packages.

In [35]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Import the data.

In [14]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [18]:
# data dimensions
concrete_data.shape

(1030, 9)

Split the data into a train and test set. Reserve 30% of the data for test.

In [27]:
X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength'] # Strength column
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Create and fit the regression model.

In [30]:
n_cols = X.shape[1]
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
model = regression_model()

In [41]:
# fit the model
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
 - 0s - loss: 116.9456
Epoch 2/50
 - 0s - loss: 117.0025
Epoch 3/50
 - 0s - loss: 117.2087
Epoch 4/50
 - 0s - loss: 115.3750
Epoch 5/50
 - 0s - loss: 114.4362
Epoch 6/50
 - 0s - loss: 115.7214
Epoch 7/50
 - 0s - loss: 113.1521
Epoch 8/50
 - 0s - loss: 113.1268
Epoch 9/50
 - 0s - loss: 114.4444
Epoch 10/50
 - 0s - loss: 113.3316
Epoch 11/50
 - 0s - loss: 112.2348
Epoch 12/50
 - 0s - loss: 111.3712
Epoch 13/50
 - 0s - loss: 113.4617
Epoch 14/50
 - 0s - loss: 111.5886
Epoch 15/50
 - 0s - loss: 112.5826
Epoch 16/50
 - 0s - loss: 110.4076
Epoch 17/50
 - 0s - loss: 112.5973
Epoch 18/50
 - 0s - loss: 111.1723
Epoch 19/50
 - 0s - loss: 110.7474
Epoch 20/50
 - 0s - loss: 111.0860
Epoch 21/50
 - 0s - loss: 109.9102
Epoch 22/50
 - 0s - loss: 109.8823
Epoch 23/50
 - 0s - loss: 109.8679
Epoch 24/50
 - 0s - loss: 112.3042
Epoch 25/50
 - 0s - loss: 111.1536
Epoch 26/50
 - 0s - loss: 109.5642
Epoch 27/50
 - 0s - loss: 109.7242
Epoch 28/50
 - 0s - loss: 109.0702
Epoch 29/50
 - 0s - loss: 110.3751
Epoch 30/50
 - 0s - loss: 108.5204
Epoch 31/50
 - 0s - loss: 108.9282
Epoch 32/50
 - 0s - loss: 108.0259
Epoch 33/50
 - 0s - loss: 110.4170
Epoch 34/50
 - 0s - loss: 109.0442
Epoch 35/50
 - 0s - loss: 108.9554
Epoch 36/50
 - 0s - loss: 106.6812
Epoch 37/50
 - 0s - loss: 107.4894
Epoch 38/50
 - 0s - loss: 108.1553
Epoch 39/50
 - 1s - loss: 105.9132
Epoch 40/50
 - 0s - loss: 106.1572
Epoch 41/50
 - 0s - loss: 106.4312
Epoch 42/50
 - 0s - loss: 106.1947
Epoch 43/50
 - 0s - loss: 110.2710
Epoch 44/50
 - 0s - loss: 107.3584
Epoch 45/50
 - 0s - loss: 105.5267
Epoch 46/50
 - 0s - loss: 106.9319
Epoch 47/50
 - 0s - loss: 105.7132
Epoch 48/50
 - 0s - loss: 105.4292
Epoch 49/50
 - 0s - loss: 107.2059
Epoch 50/50
 - 0s - loss: 105.6861

Evaluate the model for the MSE.

In [42]:
# find the MSE
MSE = model.evaluate(X_test, y_test)
MSE

309/309 [==============================] - 0s 154us/step

102.62460265421944

Run the model through a loop.

In [46]:
# initialize the MSE list
MSE_lst = [0] * 50
# loop 50 times
for i in range(50):
    # split test and train data
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
    # fit model
    print('{}/50'.format(i+1))
    model.fit(X_train, y_train, epochs=50, verbose=0)
    # evaluate model
    MSE_lst[i] = model.evaluate(X_test, y_test)

1/50
309/309 [==============================] - 0s 77us/step
2/50
309/309 [==============================] - 0s 140us/step
3/50
309/309 [==============================] - 0s 130us/step
4/50
309/309 [==============================] - 0s 104us/step
5/50
309/309 [==============================] - 0s 127us/step
6/50
309/309 [==============================] - 0s 134us/step
7/50
309/309 [==============================] - 0s 122us/step
8/50
309/309 [==============================] - 0s 191us/step
9/50
309/309 [==============================] - 0s 136us/step
10/50
309/309 [==============================] - 0s 139us/step
11/50
309/309 [==============================] - 0s 124us/step
12/50
309/309 [==============================] - 0s 126us/step
13/50
309/309 [==============================] - 0s 121us/step
14/50
309/309 [==============================] - 0s 129us/step
15/50
309/309 [==============================] - 0s 132us/step
16/50
309/309 [==============================] - 0s 110us/step
17/50
309/309 [==============================] - 0s 132us/step
18/50
309/309 [==============================] - 0s 120us/step
19/50
309/309 [==============================] - 0s 144us/step
20/50
309/309 [==============================] - 0s 127us/step
21/50
309/309 [==============================] - 0s 132us/step
22/50
309/309 [==============================] - 0s 128us/step
23/50
309/309 [==============================] - 0s 125us/step
24/50
309/309 [==============================] - 0s 133us/step
25/50
309/309 [==============================] - 0s 123us/step
26/50
309/309 [==============================] - 0s 122us/step
27/50
309/309 [==============================] - 0s 86us/step
28/50
309/309 [==============================] - 0s 124us/step
29/50
309/309 [==============================] - 0s 81us/step
30/50
309/309 [==============================] - 0s 129us/step
31/50
309/309 [==============================] - 0s 79us/step
32/50
309/309 [==============================] - 0s 126us/step
33/50
309/309 [==============================] - 0s 136us/step
34/50
309/309 [==============================] - 0s 111us/step
35/50
309/309 [==============================] - 0s 130us/step
36/50
309/309 [==============================] - 0s 135us/step
37/50
309/309 [==============================] - 0s 84us/step
38/50
309/309 [==============================] - 0s 126us/step
39/50
309/309 [==============================] - 0s 126us/step
40/50
309/309 [==============================] - 0s 134us/step
41/50
309/309 [==============================] - 0s 79us/step
42/50
309/309 [==============================] - 0s 128us/step
43/50
309/309 [==============================] - 0s 129us/step
44/50
309/309 [==============================] - 0s 140us/step
45/50
309/309 [==============================] - 0s 132us/step
46/50
309/309 [==============================] - 0s 128us/step
47/50
309/309 [==============================] - 0s 119us/step
48/50
309/309 [==============================] - 0s 82us/step
49/50
309/309 [==============================] - 0s 131us/step
50/50
309/309 [==============================] - 0s 180us/step

Find the mean and standard deviation of the mean squared errors.

In [51]:
mean = np.mean(MSE_lst)
std = np.std(MSE_lst)
print('mean: {}'.format(mean))
print('std: {}'.format(std))

mean: 48.28964825664138
std: 4.6913119186977585